@font-face {
	font-family: BebasNeue;
	font-display:swap;
	src: url(../fonts/BebasNeue-Regular.woff2) format("woff2"), url(../fonts/BebasNeue-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CaviarDreams_BoldItalic;
	font-display:swap;
	src: url(../fonts/CaviarDreams_BoldItalic.woff2) format("woff2"), url(../fonts/CaviarDreams_BoldItalic.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CaviarDreams;
	font-display:swap;
	src: url(../fonts/CaviarDreams.woff2) format("woff2"), url(../fonts/CaviarDreams.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CaviarDreams_Italic;
	font-display:swap;
	src: url(../fonts/CaviarDreams_Italic.woff2) format("woff2"), url(../fonts/CaviarDreams_Italic.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Caviar_Dreams;
	font-display:swap;
	src: url(../fonts/Caviar_Dreams-Bold.woff2) format("woff2"), url(../fonts/Caviar_Dreams-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RomanceLogicDemo;
	font-display:swap;
	src: url(../fonts/RomanceLogicDemo-Wy8BE.woff2) format("woff2"), url(../fonts/RomanceLogicDemo-Wy8BE.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
